<!DOCTYPE html>
<html lang="de-x-formal" dir="ltr" class="client-nojs">
<head>
    <title>Login</title>
</head>
<body>
<h1>My Chat - Login</h1>

{% if exists%}
<br>
<b style="color:red"> Diese E-Mail besitzt bereits ein Konto.</b>
</br>
{%endif%}

{% if check%}
<br>
<b style="color:red"> Das Passwort ist falsch.</b>
</br>
{%endif%}



<form action="/login" method = 'POST'>
    Bitte E-Mail eingeben:
    <br>
    <input type="text" name="email">
    </br>
    Bitte Passwort eingeben:
    <br>
    <input type="password" name="password">
    </br>
    <button type="submit">Login</button>
</form>

</body>