h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    font-family: "Space Grotesk", sans-serif;

}












.top-leiste {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 15px 30px; 
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.4);
}

.top-leiste a.dropbtn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.top-leiste a.dropbtn:hover {
    color: #ff6200;
}















.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    min-width: 160px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 15px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); 
}

.dropdown-right .dropdown-content {
    left: auto;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ff6200;
    color: white;
}

.show {
    display: block;
}